.movie {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.movie__trailer-link {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 151px;
}

.movie__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.movie__main {
  width: 100%;
  height: 59px;
  padding-top: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie__title {
  max-width: 226px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
}

.movie__button {
  background-color: none;
  width: 72px;
  height: 20px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}

.movie__button:hover {
  opacity: 0.8;
}

.movie__like-button {
  background-image: url(../../images/saveIcon.svg);
}

.movie__button_active {
  background-image: url(../../images/savedIcon.svg);
  width: 20px;
  height: 20px;
}

.movie__delete-button {
  background-image: url(../../images/savedIcon.svg);
  width: 20px;
  height: 20px;
}

.movie__duration {
  padding-top: 6px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  margin: 0;
  line-height: 1.38;
  color: #8b8b8b;
  box-sizing: border-box;
  background-color: #2F2F2F;
  width: fit-content;
  height: 18px;
  border-radius: 3px;
  padding: 0 4px;
}

@media screen and (max-width: 800px) {
  .movie{
    width: 339px;
  }
  .movie__trailer-link {
    height: 190px;
  }
}

@media screen and (max-width: 520px) {
  .movie {
    width: 300px;
  }
  .movie__title {
    font-size: 12px;
    line-height: 15px;
  }

  .movie__duration {
    font-size: 10px;
    line-height: 12px;
  }

  .movie__main {
    padding-top: 15px;
  }

  .movie__trailer-link {
    height: 168px;
  }
}
