.saved-movies-page {
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .saved-movies-page__movies {
    margin-bottom: 300px;
  }

  @media (max-width: 768px) {
    .saved-movies-page__movies {
      margin-bottom: 192px;
    }
  }
  

  @media (max-width: 500px) {
    .saved-movies-page__movies {
      margin-bottom: 215px;
    }
  }
  
  .movies-page__movies-list_type_saved {
    margin-bottom: 169px;
  }
  
  .movies__message_type_error {
    padding-top: 60px;
  }
  
  @media (max-width: 768px) {
    .movies__message_type_error {
      padding-top: 80px;
    }
  }