.movies-list {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 0 0 57px;
  }
  
  @media (max-width: 1023px) {
    .movies-list {
      grid-template-columns: repeat(auto-fit, 339px);
      column-gap: 24px;
      row-gap: 26px;
      row-gap: 30px;
    }
  }

  @media (max-width: 850px) {
    .movies-list {
      grid-template-columns: repeat(auto-fit, 320px);
    }
  }

  @media (max-width: 768px) {
    .movies-list {
      gap: 28px;
      grid-template-columns: repeat(auto-fit, 339px);
      margin-bottom: 45px;
    }
  }

  @media (max-width: 500px) {
    .movies-list {
      gap: 22px;
      grid-template-columns: repeat(1, 300px);
      margin-bottom: 46px;
    }
  }
