.movies-list {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
  }
  
  @media (max-width: 1023px) {
    .movies-list {
      grid-template-columns: repeat(auto-fit, 340px);
      column-gap: 24px;
      row-gap: 26px;
      row-gap: 30px;
    }
  }

  @media (max-width: 850px) {
    .movies-list {
      grid-template-columns: repeat(auto-fit, 300px);
    }
  }
  
  @media (max-width: 768px) {
    .movies-list {
      gap: 15px;
    }
  }
  
  .movies-page__movies-list {
    margin: 0 0 60px;
  }

  @media (max-width: 768px) {
    .movies-page__movies-list {
      margin-bottom: 45px;
    }
  }